In [ ]:
# Minicurso Machine Learning - Aula Pandas
## Prof. José Ferdinandy Silva Chagas

import pandas as pd
import numpy as np

## Criando um DataFrame

dados = pd.DataFrame(
    {
        "Name": [
            "Pedro Henrique",
            "Alan Malagueta",
            "Maria Eunalia",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

# ## Series
# dados['Age']

# ## Maior valor
# dados['Age'].max()

# ## Atribuindo a uma variável
# ages = dados['Age']

# ages.max()

# ## Média de Idades

# ages.mean()

# ## Mediana das Idades

# ages.median()

# ## Resumo das Estatísticas dos Dados

# dados.describe()

# ## Subconjunto de dados (Colunas)

# dados[['Age','Sex']]


# ## Subconjunto de dados (Linhas)

# dados[dados['Sex']=='male']

# ## Subconjunto de dados (Linhas e Colunas)
# dados[dados['Age']<30]

# dados.loc[dados['Age']<50, 'Name']

# dados.iloc[0:2, 1:3]

# ## Formato da tabela

# dados.shape

# # Gerando novos dados para a tabela

# dados['maior_idade'] = dados['Age'] > 18

# dados

             Name  Age     Sex  maior_idade
0  Pedro Henrique   22    male         True
1  Alan Malagueta   35    male         True
2   Maria Eunalia   58  female         True